footer {
    margin-top:  5rem;
    background-color: #EAEAEA;
    width: 100%;
    height: auto;
    position: relative;
    bottom: 0;
    vertical-align: bottom;
    
    display: flex;
    flex-direction: column;
    padding: 1rem 4rem 0rem 4rem;
    font-family: 'Comfortaa';
}

.contenido {
    margin-top: -3rem;
    margin-left: -4.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nombres {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.nombres span {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 0rem 3rem 0rem 0rem;
}

.contenido img {
    margin-top: -2rem;
}