.h{
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    align-self: flex-start;
    font-family: 'Comfortaa';
    font-style: normal;
}
.ande{
    margin-left: 5rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;                                                                    
    height: auto;
    font-size: 18px;
}
.imagenes{
    margin-top: -220px;
    margin-left: 1500px;
    height: 242px;
    width: 571px;
    border-radius: 0px;

/* COLOR */

background: #3EC1D3;
}

.video video{
    width: auto;
    height: 60%;
    border: 25px solid #D9D9D9;
    border-radius: 15px;
}

.alimentos {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.alimento {
    background-color: #3EC1D3;
    width: 500px;
    height: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 48px;
    margin-top: 40px;
}

.alimento img {
    width: 80px;
    border: 5px solid #3EC1D3;
    border-radius: 100%;
}

.alimento span {
    color: #fff;
    font-size: 20px;
    text-align: center;
    width: 100%;
}